<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Company Calendar</title>
<!-- the skeleton framework similar to bootstrap -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>
	<div id="myPage" class="container">
		<div class="row">
			<span v-if="signInRequired == ''"> <a href="/signout">Sign out</a>
			</span> 
			<span v-else> <a href="/signin">Sign in</a>
			</span>
			<div class="twelve columns">
				<!-- this is skeleton grid system -->
				<h5>Calendar displayed company-wide.</h5>
				<br> {{ signInRequired }} <br>
				<ul>
					<li v-for="leave in leaves">
						<p>Type: {{ leave.type}}</p>
						<p>Start date: {{ leave.startDate}}</p>
						<p>End date: {{ leave.endDate}}</p>
						<p>Employee name: {{ leave.employee.name}}</p>
						<hr>
					</li>
				</ul>

			</div>

		</div>
	</div>

</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script>
function getCookie(name) {
	  var value = "; " + document.cookie;
	  var parts = value.split("; " + name + "=");
	  if (parts.length == 2) return parts.pop().split(";").shift();
	}

</script>
<script>
var app = new Vue({
	  el: '#myPage',
	  data: {leaves:[], 
	  signInRequired: '' 
	  },
	  mounted(){
		  /* mounted means that the method fetchLeavesList is invoked once the app is ready */
          this.fetchLeavesList();
      },
      
      methods: {
    	  fetchLeavesList(){
    		  //axios makes the request to the rest api, binds the vue data to the rest data
    		  if(getCookie("access_token"))
    		  {
    			  axios({
                      method:'get',
                      url:'/companyLeaves',
                      headers: {'Authorization': "Bearer " + getCookie("access_token")}
    			//asa apare si in postman preview request headers
                  }) 
              .then(function(response){
                  this.leaves = response.data;
              }.bind(this))
              
              .catch(function (error) {
            	  //this error is for the case when token exists, the user has signed in but the token  has become invalid- meaning that the token has become invalid after a set period of time- time set in authorizationserver config
                  console.log(error.response);
                  this.signInRequired = "Your session has timed-out. Please sign in again to access this resource";
              }.bind(this));
    			//fara bind nu merge
    			//cand fac bind toate elementele definite anterior sunt setate
    			  
              
    		  }
    		  else
    			  { 
    			  //this means that there is no access token- user is not signed in
    			  axios.get('/notSignedIn')
    			  .then(function(response){
                      this.signInRequired = response.data;
                  }.bind(this)); 
    			  }
    		  
    			  }
    		  
          }
    	  
      
      
	})



</script>
</html>