<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <meta charset="UTF-8" />
 <title> Home</title>
<!-- the skeleton framework similar to bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
<style>
<style>
.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}
.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}
</style>

</head>
<body>

<!-- SPRIG BOOT INCARCA AUTOMAT INDEX PAGE (INDEX.HTML) CAND NAVIGHEZ CATRE LOCALHOST:8080
INDEX.HTML E AUTOMAT CONSIDERAT WELCOME FILE -->


<div id="myPage">
<div class="container">
 <!-- this is what will appear on top of every page section- no matter what section (login, my acc, etc) -->

 <h2 v-if="isLoggedIn==true">Welcome {{user}} </h2>

 
 
<!-- will  place the router links inside a navbar component later -->
 
 <span v-if= "isLoggedIn">
  <router-link to="/myacc">My account</router-link>
  <router-link to="/signout">Sign out</router-link>
  
  </span>
  <span v-else>
  <router-link to="/signin">Sign in</router-link>
  <router-link to="/register">Register</router-link>
  </span>
  <router-link to="/companycalendar">Company Calendar</router-link>
  
  
  <div class = "row">
 
  <!-- inside the router view is space allocated for a section -->
  <router-view :loggedin="isLoggedIn"> </router-view>
  <!-- isloggedin e variabila din parent iar loggedin e variabila din componenta -->
  </div>

</div>


</div>
</body>



<!-- old cdn for vue from tutorial
<script src="https://vuejs.org/js/vue.js"></script> -->


<!-- UNPKG SITE- DOWNLOAD EVERYTHING THAT IS ON NMP - NODE PACKAGE MANAGER- SO U DON'T HAVE TO MANUALLY INSTALL NODEJS -->
<!-- TYPE https://unpkg.com/WHAT-U-WANT/dist/ AND IT WILL AUTOMATICALLY REDIRECT YOU TO THE FOLDER WITH THE FILES THE LATEST VERSIONS -->
<!-- https://unpkg.com/axios/dist/axios.min.js VA REDIRECTIONA CATRE ULTIMA VERSIUNE ADICA https://unpkg.com/axios@0.18.0/dist/min.js -->
<!-- ASA CA PT IMPORT SCRIPTURI FARA A PRECIZA O ANUMITA VERSIUNE USE https://unpkg.com/WHAT-U-WANT/dist/FILENAME -->
<!-- LA FEL PROCEDEZ SI CU ALTE SITE-URI DE CDN EXEMPLU: cdnjs
https://cdn.jsdelivr.net/npm/axios/dist/ -->


<!-- cdn (content delivery network website) for vue js -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- cdn for vue router -->
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<!-- cdn for axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="js/cookie.js"></script> 
<script src="js/companyCalendar.js"></script> 
<script src="js/signIn.js"></script>
<script src="js/signOut.js"></script>


<script>
/* var companyCalendar = {template:"<h1>Calendar displayed company wide</h1>"}; */
 /* the above example is a local component defined with var like any javascript object- locally registered component available only for this root element*/

/*  Vue.component('myAcc', {template:"<h1>This is my acc"}); */
 /* the above example is a global component */
 
 /* since a component(global or local registered) contains many elements: template (html), functions etc, each component will be included in a separate javascript file */
 
 /* note that in a component (local or global) data is defined like a function that returns the data variables, unlike in the root element where data variables are defined directly*/
 
  
 
  var registerAcc = {template:"<h1>Calendar displayed company wide</h1>"};
  
var router = new VueRouter({
	 
	  routes: [
	    { path: '/companycalendar', component: companyCalendar}, /* how u route a local registered component */
	    { path: '/myacc', component: Vue.component('myAcc') },  /* how u route a global component */
	    { path: '/signin', component: Vue.component('signIn') },
	    { path: '/signout', component: Vue.component('signOut') },
	    { path: '/register', component: registerAcc }
	   
	    
	  ]
	});
	
var app = new Vue({
	/* this is a root element */
	  router,
	  el: '#myPage',
	  data: {
	  user: '' ,
	  isLoggedIn: false,
	  signInRequired_msg: ''
	
	  },
	  created(){
		 
			
	    this.showLoggedInUser();
	},
	 
    methods: {
    	showLoggedInUser(){
    		  if(getCookie("access_token"))
    			  {
    			 
    			  axios({
                      method:'get',
                      url:'/retrieveCurrentUser',
                      headers: {'Authorization': "Bearer " + getCookie("access_token")}
    			//asa apare si in postman preview request headers
                  }).then(function(response){
                      this.user = response.data;
                      this.isLoggedIn = true;
                   
                  }.bind(this))
                  .catch(function (error) {
                	  //this error is for the case when token exists, the user has signed in but the token  has become invalid- meaning that the token has become invalid after a set period of time- time set in authorizationserver config
                      console.log(error.response);
                      signInRequired_msg = "Your session has timed out. Please sign in again.";
                      this.isLoggedIn = false;
                     
                  }.bind(this));
    			  
    			  
    			  
    		  }
    		  else { //this is for the case when the token does not exist so the user hasn't signed in
    			  
    			  signInRequired_msg =  "You are not signed in. Please authenticate first to access this resource.";
    			  this.isLoggedIn = false;
    			  console.log("there's no token- get cookie returns undefined");
    		  }
    		  
    			  
  		 	  
    	}
    	
    }
  	  
    
    
	});


</script>

</html>